<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<style>
        input[type='number'] {
            -moz-appearance:textfield;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
</style>
    <head>
        <title th:text="Main"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://getbootstrap.com/docs/5.2/dist/css/bootstrap.min.css">
        <title>MAIN</title>
        <link rel="icon" href="https://cdn.icon-icons.com/icons2/37/PNG/512/calculator_3534.png" sizes="32x32" type="image/png">
    </head>
<header th:insert="blocks/header :: header"></header>
    <body>
    <main>

        <section class="py-5 text-center container">
            <form action="/" method="post">
                <img src="https://cdn.icon-icons.com/icons2/37/PNG/512/calculator_3534.png" width="40" height="32">
                <h1 class="h3 mb-3 fw-normal">Please write number</h1>
<!--                    <input type="text" name="fn" placeholder="First number" class="form-control"><br>-->
<!--                    <input type="text" name="sn" placeholder="Second number" class="form-control"><br>-->
<!--                    <input type="text" name="method" placeholder="Method" class="form-control"><br>-->
<!--                    <input type="text" name="user" placeholder="User" class="form-control"><br>-->
<!--                    <button class="btn btn-success" type="submit">Result</button>-->

                    <div class="form-floating">
                        <input type="number" class="form-control" name="fn" id="fn" placeholder="fn">
                        <label for="fn">First number</label>
                    </div>
                    <div class="form-floating">
                        <input type="number" class="form-control" name="sn" id="sn" placeholder="sn">
                        <label for="sn">Second number</label>
                    </div>
                <div class="form-floating">
                    <input type="number" class="form-control" name="user111" id="user111" placeholder="fn">
                    <label for="user111">user</label>
                </div>
                    <fieldset>
                        <small>Please select your preferred contact method:</small>
                        <div>
                            <input type="radio" id="contactChoice1"
                                   name="method" value="addition" checked>
                            <label for="contactChoice1" class="h5 mb-3 fw-normal">addition</label>

                            <input type="radio" id="contactChoice2"
                                   name="method" value="subtraction">
                            <label for="contactChoice2" class="h5 mb-3 fw-normal">subtraction</label>

                            <input type="radio" id="contactChoice3"
                                   name="method" value="multiplication">
                            <label for="contactChoice3" class="h5 mb-3 fw-normal">multiplication</label>

                            <input type="radio" id="contactChoice4"
                                   name="method" value="division">
                            <label for="contactChoice4" class="h5 mb-3 fw-normal">division</label>
                        </div>
                    </fieldset>
                    <button class="w-100 btn btn-lg btn-primary" type="submit" >RESULT</button>
            </form>
        </section>

    </main>
    </body>
<footer th:insert="blocks/footer :: footer"></footer>
</html>