<div th:fragment="header">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img src="https://cdn.icon-icons.com/icons2/37/PNG/512/calculator_3534.png" width="40" height="32"><use xlink:href="https://cdn.icon-icons.com/icons2/37/PNG/512/calculator_3534.png"></use></img>
                <span class="fs-4">CALCULATOR</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="/results" class="nav-link">Results</a></li>
                <li class="nav-item"><a href="/faqs" class="nav-link">FAQs</a></li>
            </ul>
        </div>
    </div>
</div>